@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header buttons  */
.header_button_1 {
  @apply flex items-center gap-3 md:text-xl text-xs bg-gradient-to-r rounded-full cursor-pointer px-4 py-3 from-[#000080] transition-all ease-in-out duration-300 via-[#4169E1] to-[#000080] shadow-sm hover:translate-y-0.5 shadow-[#4169E18C] border border-[#4169E1];
}
.header_button_2 {
  @apply flex items-center gap-3 md:text-xl text-xs rounded-full cursor-pointer px-4 py-3 transition-all ease-in-out duration-300 shadow-sm hover:translate-y-0.5 shadow-[#4169E18C] border border-[#4169E1];
}
